@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 1rem;
  }
  .grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    gap: 1rem;
  }
  .switch {
    width: 50%;
    height: calc(100% - 5px);
    border-radius: 30px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    display: grid;
    place-items: center;
  }
  .primary {
    @apply bg-indigo-500 px-4 h-10 text-white rounded-md;
  }
  .secondary {
    @apply bg-black-gray px-4 h-10 text-white rounded-md;
  }
}

section {
  @apply pt-20;
}

#sortbox:checked ~ #sortboxmenu {
  opacity: 1;
}
